@model IEnumerable<PraticaSettimanaleS5.Models.Cliente>

<h1>Clienti</h1>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Codice Fiscale</th>
            <th>Partita IVA</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var cliente in Model)
        {
            <tr>
                <td>@cliente.ClienteId</td>
                <td>@cliente.Nome</td>
                <td>@cliente.CodiceFiscale</td>
                <td>@cliente.PartitaIVA</td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="Create" class="btn btn-primary">Aggiungi Cliente</a>
