@{
    ViewData["Title"] = "Home";
}

<div class="jumbotron">
    <h1 class="display-4">Benvenuti in E-Shipping</h1>
    <p class="lead">La vostra azienda di spedizioni affidabile e veloce.</p>
    <hr class="my-4">
    <p>Offriamo soluzioni di spedizione personalizzate per soddisfare tutte le vostre esigenze logistiche. Con E-Shipping, le vostre spedizioni sono in buone mani.</p>
    <a class="btn btn-success btn-lg my-5" asp-controller="Home" asp-action="Search" role="button">Cerca spedizione</a>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Affidabilità</h2>
        <p>Con E-Shipping, potete essere certi che le vostre spedizioni arriveranno a destinazione in modo sicuro e puntuale.</p>
    </div>
    <div class="col-md-4">
        <h2>Velocità</h2>
        <p>Grazie ai nostri servizi espressi, possiamo garantire consegne rapide per soddisfare le vostre necessità urgenti.</p>
    </div>
    <div class="col-md-4">
        <h2>Supporto</h2>
        <p>Il nostro team di supporto è sempre disponibile per aiutarvi con qualsiasi domanda o problema.</p>
    </div>
</div>

<div class="mt-5">
    <h2>Perché scegliere E-Shipping?</h2>
    <p>Siamo leader nel settore delle spedizioni grazie alla nostra dedizione alla qualità e alla soddisfazione del cliente. Scoprite i nostri servizi e come possiamo aiutarvi a migliorare la vostra logistica.</p>
</div>
